{
	"extends": "airbnb",
	"plugins": ["jasmine"],
	"parser": "babel-eslint",
	"env": {
		"jasmine": true,
	},
	"rules": {
		"strict": 0,
		"new-cap": [2, {
			"newIsCap": true,
			"capIsNew": false,
		}],
		"valid-jsdoc": [2, {
			"prefer": {
				"return": "return",
			},
			"requireReturn": false,
		}],
		"require-jsdoc": [2, {
			"require": {
				"FunctionDeclaration": true,
				"MethodDefinition": true,
				"ClassDeclaration": false,
			},
		}],
		"jasmine/no-spec-dupes": [1, "branch"],
		"padded-blocks": 0,
		"no-use-before-define": [2, "nofunc"],
		"no-dupe-keys": 2,
		"no-unused-vars": [2, {
			"argsIgnorePattern": "^_",
		}],
		"func-names": 0,
		"indent": [2, "tab", {
			"SwitchCase": 1,
		}],
		"complexity": [2, 10],
		"max-statements": [2, 20],
		"max-depth": [2, 3],
		"max-nested-callbacks": [2, 5],
		"max-len": [2, 120, 4],
		"max-params": [2, 5],
		"import/no-extraneous-dependencies": 0,
		"import/prefer-default-export": 0,
		"import/imports-first": 0,
		"no-param-reassign": [2, {
			"props": false,
		}],
		"no-underscore-dangle": 0,
		"arrow-body-style": 0,
		"prefer-template": 0,
		"global-require": 0,
		"import/no-named-as-default-member": 0,
		"import/extensions": [2, { "js": "never" }],
		"quote-props": [0, "consistent-as-needed"],
		"no-lonely-if": 0,
	},
}
